---
const personalImageAlt = "Jorge Santana";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jorge Santana, tengo 20 años y soy de Santo Domingo, República
      Dominicana. Desde los 14 años, me sumergí en el mundo de la programación,
      comenzando con proyectos pequeños que abordaban problemas cotidianos y
      transformando esta curiosidad inicial en una pasión profunda por el
      desarrollo de software. La programación no solo se ha convertido en una
      carrera para mí, sino en una forma de vida que me permite aportar
      soluciones prácticas e innovadoras a los desafíos del día a día.
    </p>
    <p>
      A lo largo de los años, he dedicado incontables horas a perfeccionar mis
      habilidades, explorando diversas tecnologías y lenguajes de programación.
      Lo que comenzó como un hobby se convirtió en un compromiso serio con la
      creación de aplicaciones que mejoren la eficiencia y calidad de vida de
      las personas. Este camino me ha enseñado la importancia de la
      perseverancia y la adaptabilidad, así como el valor de mantenerse
      actualizado en un campo en constante evolución.
    </p>
    <p>
      Soy una persona colaborativa y autodidacta, apasionada por el desarrollo
      de aplicaciones que resuelven problemas reales y aportan valor. Mi
      entusiasmo por el aprendizaje continuo y el crecimiento profesional me
      impulsa a enfrentar desafíos complejos con creatividad y determinación.
      Con una sólida base en desarrollo de software y una mentalidad orientada a
      resultados, busco aplicar mis habilidades y el trabajo en equipo para
      contribuir al éxito de proyectos innovadores.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/foto-perfil.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
